* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  margin: 30px;
}

.completed {
  text-decoration: line-through;
}

table {
  color: black;
  text-align: center;
  border: 1px solid;
}
th {
  text-align: center;
  color: blue;
}
td {
  width: 6vw;
  height: 3vh;
  text-align: center;
  color: crimson;
}
